<!-- views/signup.ejs -->
<!DOCTYPE HTML>
<html>
	<head>
		<style type="text/css"></style>
	</head>
	<body bgcolor="#B2D5FF" link="#666600" vlink="#666600">
	<!--body bgcolor="#CCDDF2" link="#666600" vlink="#666600"-->
	//var hey = "images/<%= pinfo.url %>";

	<img src="images/<%= pinfo.url %>">

	</body>
</html>