<!-- views/index.ejs -->
<!DOCTYPE html>
<!--
Template Name: Funzi
Team Member:
  - Xiao Hu	    hu440@purdue.edu
  - Haobo Wang	wang2940@purdue.edu
  - Yawen Chu   chu110@purdue.edu
-->
<html lang="en">

<head>
<title>Funzi</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="" style="background-image: url(images/room2.jpg)"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> </div>
  </div>

  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="/">Funzi</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/post">Post</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/login">Login</a></li>
          
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>The Best Residence Seeker</p>
      <h3 class="heading">********FUNZI*********</h3>
<!--
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">Ornare sem ultrices</a></li>
          <li><a class="btn inverse" href="#">Vestibulum porta</a></li>
        </ul>
      </footer>
-->
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group">
      <div class="one_half first">
        <h6 class="heading">How to lease an apartment in your area:</h6>
        <p>Fill in the form and hit submit. We will help you create your own leasing information and find the best matching redisent.</p>
        <<form action="/post" method="post" enctype="multipart/form-data">
          <div id="accout_info" class="card">
            <h2>Leasing Information</h2>
            <p>Select Image to Upload:</p>
            <input type="file" name="image" size="50" accept="image/*"><br>
            Address: <input type="text" name="address" required><br>
            First Name: <input type="text" name="fname" required><br>
            Last Name: <input type="text" name="lname" required><br>
            Contact Email: <input type="text" name="email" value = <%= user.local.email %> readonly><br>
            Contact Phone Number: <input type="text" name="phoneno" required><br>
            Housing Info: <textarea name="hbio" rows = "5" cols = "50" class="overflow"></textarea><br>
          </div>
          <br>
          <button type="submit" class="btn">Submit</button>
        </form>
        
      </div>
    </article>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <a>FUNZI CAN HELP YOU WITH THE BEST LIVING EXPREIENCE NEAR PURDUE AND MORE</a>
    <!-- ################################################################################################ -->
  </footer>
</div>
    
<!-- ################################################################################################ -->
<div class="wrapper row5" style="background-color: #CF9C67">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="https://docs.google.com/document/d/e/2PACX-1vR2_HGf58TdvelvZkq0pBo9pN4RriPXWg_ULaiqfyfOw__aGk3bCQrBCVrDr-jK_Qq0c6GM-sZu3iVT/pub">Purdue CS252 Lab06</a></p>
      
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
    
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>

<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>