<!-- views/result.ejs -->
<!DOCTYPE html>
<!-- 
    Name: Result of Search Webpage
    Function: List all the reslt on the right side of the screen and the Map on the left side.
-->

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">  
    <title>Funzi-Results</title>
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  </head>
  
<body>
    
    <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> </div>
  </div>

    <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="/">Funzi</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/index">Home</a></li>
        
          <li><a href="/post">Post</a></li>
          <li><a href="/account">Account</a></li>
        
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
    
    <div class="wrapper row3">
        <div id="topbar" class="hoc clear" > </div>
    </div>
    
    <div class="contents">
        <main class="hoc container clear" id="contain">
        <div class="bg-white">
            
        </div> 
            
        <div class="bg-grey">
            
        </div>
            
        </main>
    </div>
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <a>FUNZI CAN HELP YOU FIND THE IDEAL HOUSING NEAR PURDUE AND MORE</a>
    <!-- ################################################################################################ -->
  </footer>
    </div>
    
<!-- ################################################################################################ -->
<div class="wrapper row5" style="background-color: #CF9C67">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="https://docs.google.com/document/d/e/2PACX-1vR2_HGf58TdvelvZkq0pBo9pN4RriPXWg_ULaiqfyfOw__aGk3bCQrBCVrDr-jK_Qq0c6GM-sZu3iVT/pub">Purdue CS252 Lab06</a></p>
      
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
      
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<script src="layout/scripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script> <!-- Google Map Visualization Library -->
<script>

  var add1 = "401 W Wood. St. West Lafayette China"
  var pic1 = "images/apt1.jpg"
  var add2 = "402 w blah blah blah indiana China"
  var pic2 = "images/apt2.jpg"
    
  var w_div = document.getElementById("contain")


  //"<div class='bg-white' id='white'><div class = 'one_half first'><div class='img-inner'><img src="+ pic1 + " class='img-responsive' id='myimage1' alt='perfect 1'></div></div><div class='one-half'><p><a1 id='ad1'>"+ add1+"</a1><br></p><footer><a class='btn' href='#''>More &raquo;</a></footer></div></div>"



    <% pinfo.forEach(function(pif){ %>
          w_div.innerHTML += "<div class='bg-white' id='white'><div class = 'one_half first'><div class='img-inner'><img src=images/"+"<%=pif.url %>"+ " class='img-responsive' id='myimage1' alt='perfect 1'></div></div><div class='one-half'><p><a1 id='ad1'>"+  "<%=pif.address %>" + "</a1><br></p><footer><a class='btn' href='/housing?postid=" + "<%= pif.count %>"  + "&email=" + "<%= pif.email %>" + "'>More &raquo;</a></footer></div></div>"

    <%  }); %>
  
</script>
</body>
</html>